/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/stm32f103Xb.dtsi>

/ {
	model = "STMicroelectronics STM32F103 bluepill board";
	compatible = "st,bluepill", "st,stm32f103rb";

	chosen {
		zephyr,console = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		blue_led: led@0 {
			gpios = <&gpioc 13 GPIO_INT_ACTIVE_LOW>;
			label = "User LD2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button@0 {
			label = "User";
			gpios = <&gpiob 11 GPIO_INT_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &blue_led;
		sw0 = &user_button;
	};

	can1: can@40006400 {
		compatible = "st,stm32-can";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x40006400 0x400>;
		interrupts = <30 0>;
		clocks = <&rcc STM32_CLOCK_BUS_APB1 0x02000000>;
		status = "disabled";
		label = "CAN_1";
		bus-speed = <250000>;
		sjw = <1>;
		prop_seg_phase_seg1 = <5>;
		phase_seg2 = <6>;
	};

};

&can1 {
	status = "ok";
};

&usart1 {
	current-speed = <115200>;
	pinctrl-0 = <&usart1_pins_a>;
	pinctrl-names = "default";
};

&usart2 {
	current-speed = <115200>;
	pinctrl-0 = <&usart2_pins_a>;
	pinctrl-names = "default";
	status = "ok";
};

&usart3 {
	current-speed = <115200>;
	pinctrl-0 = <&usart3_pins_a>;
	pinctrl-names = "default";
};

&spi1 {
      status = "ok";
};

&spi2 {
      status = "ok";
};

&timers1 {
	status = "ok";

	pwm {
		status = "ok";
	};
};
