# Kconfig - STM32F103 Blue pill board configuration
#
# Copyright (c) 2016 Open-RnD Sp. z o.o.
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_BLUE_PILL
	bool "STM32F103 Blue Pill"
	depends on SOC_STM32F103XB
